body{
	margin: 0px;
}
iframe {
	height: 100px;
	width: 500px;
}
.bg{
	height:600px;;
	background-image: url(/images/img5.jpg);
	background-size: cover;
}
.navbar ul{
	list-style-type :none;
	background-color: black;
	overflow:hidden;
	text-align:center;
	margin: 0px;
	padding: 0px;

}
.navbar li{
	float: left;
}
.navbar a{
	display: block;
	padding :20px;
	color:rgba(236, 236, 230, 0.908);
	margin-top: 5px;
	font-family: sans-serif;
	font-stretch: wider;
	text-decoration: inherit;
	
}
h2{
	width:200px;
	color: white;
	margin-left: 2px;
	font-family: sans-serif;
	font-stretch: wider;
	border-style: inset;
	border-color: white;
}
.navbar a:hover {
	color:white;
	text-decoration: underline;
}
.home{
	 text-decoration: underline;
}
.d1{
	margin: auto;
	align-content: center;
	color:white;
	border-color:black;
	width: 700px;
	margin-left: 725px;
	border-width: 100px;
}
.footer ul{
	background-color: black;
	margin: 0px;
	
	
}
.footer a{
	color:rgba(236, 236, 230, 0.908);
	font-family: sans-serif;
	text-decoration:  inherit;
}
.footer li{
	text-align: center;
	padding: 20px;
	
}

.footer a:hover{
	color :white;
	text-decoration: underline;
}
h6{
	margin :0px;
	text-align: center;
	background-color: black;
	color: rgba(247, 242, 242, 0.593);
	font-family :sans-serif;
	font-style: inherit;
	padding: 20px;
}

