<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>About-TUNEHUB</title>
<link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>
	<nav class="navbar">    
		<ul>
			<li><h2>TUNE-HUB</h2></li>
			<li><a href="/home">HOME</a></li>
			<li class="home"><a href="">ABOUT</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/register">REGISTER</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</ul>
	</nav>
	<div class="d1"></div>

	<h2 style="margin-left: 650px; color: black; font-size: xx-large; ">
	 TUNE-HUB !</h2>
	<br>

	<div class="divright">
		<p>But TUNE-HUB is more than just a platform to listen to music;
			it's a place to connect with like-minded individuals who share your
			love for music. Join discussions, discover new artists, and share
			your favorite tracks with friends and fellow music enthusiasts. Our
			user-friendly interface and intuitive features make navigating
			TUNE-HUB a breeze, whether you're a seasoned music aficionado or just
			dipping your toes into the world of audio bliss.</p>
	
		<p>With TUNE-HUB, the power to curate your own musical journey is
			in your hands. Create custom playlists for every mood and occasion,
			or let our algorithm do the work for you with personalized
			recommendations tailored to your unique tastes. Whether you're
			craving the latest hits, exploring niche genres, or revisiting old
			favorites, TUNE-HUB delivers an unparalleled listening experience
			that adapts to your preferences.From effortless navigation to smooth playback, we ensure that every interaction with TUNE-HUB is a delight.</p>
	</div>

	<div class="divleft">

		<p>Welcome to TUNE-HUB, where music meets limitless possibilities.
			TUNE-HUB is not just another music streaming platform; it's a vibrant
			community where music lovers from all walks of life come together to
			explore, discover, and share their passion for music. Our mission is
			simple: to provide you with a seamless and immersive music streaming
			experience like no other.Say goodbye to endless scrolling and let TUNE-HUB introduce you to your new favorite tracks.</p>
		
		<p>At TUNE-HUB, we understand that music is a universal language
			that transcends boundaries. Whether you're relaxing at home,
			commuting to work, or on a road trip with friends, TUNE-HUB is your
			companion for every moment. With a vast and ever-growing library of
			songs spanning genres, artists, and decades, there's something here
			for everyone. From chart-topping hits to hidden gems waiting to be
			uncovered, our curated playlists and personalized recommendations
			ensure that you're always in tune with the latest trends and timeless
			classics.</p>
	</div>
	<br>
	<h2 style="margin-left: 650px; color: black;">JOIN WITH US !</h2>
    <div class="divcenter">
    <p>Join us on TUNE-HUB and embark on a musical odyssey unlike any other. Let the rhythm guide you, the melody inspire you, and the music unite us all. Because at TUNE-HUB, the beat never stops, and the possibilities are endless.</p>
    </div>
    
    <div class="footer">
		<ul>
			<li><a href="/home">HOME</a></li>
			<li class="home"><a href="aboutnew">ABOUT</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/register">REGISTER</a></li>
			<li><a href="contact">CONTACT</a></li>
			<li><a href="privacy">PRIVACY POLICY</a></li>
		</ul>
	</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ.</h6>
</body>
</html>