<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Contact-US</title>
<link rel="stylesheet" th:href="@{/css/contact.css}">
</head>
<body>

<nav class="navigation">
<ul>
<li><h2>TUNE-HUB</h2></li>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/register">REGISTER</a></li>
<li class="home"><a href="/contact">CONTACT</a></li>
</ul>
</nav>

<div class="div">
<p>
<h3>Contact Information:</h3>
For any inquiries or assistance, you can reach out to us through the following channels:
<br>
<br>
Email: support@tunehub.com
<br>
<br>
Phone: 91+9445978005
<br>
<br>
Mailing Address: N.s palaya,BTM stage-2,BTM Layout,Bangalore,Karnataka,India.
<br>
<h4>Contact Form:</h4>
Fill out the form below to send us a message. We'll get back to you as soon as possible.
<textarea cols="50px" rows="5px" placeholder="Enter Message Here"></textarea>
<br>
<input type="submit" value="SENT">
<br>
<h4>Social Media Links:</h4>
Stay connected with us on social media for updates, announcements, and more:
<br>
<br>
Facebook: <a>https://www.facebook.com/login.php/tunehub</a>
<br>
<br>
Twitter: <a>https://www.twitter.com/login.php/tunehub</a>
<br>
<br>
Instagram: <a>https://www.instagram.com/login.php/tunehub</a>
<br>
<br>
<h4>Operating Hours:</h4>
Our customer support team is available to assist you during the following hours:
<br>
Morning :09:00 AM to Night 09:00 PM
<br>
<h4>Privacy Policy Link:</h4>

Your privacy is important to us. For information about how we collect and use your data, please review our Privacy Policy.

<a href="/privacy">PRIVACY POLICY</a>

<h4>Map or Location Information:</h4>

Visit us at our location or use the map below for directions:

<a href="">https://maps.app.goo.gl/39cARukYtdfQoL3Q9</a>

<h4>Response Time:</h4>

We strive to respond to all inquiries within 24HOURS, excluding weekends and holidays.

Language Support:

We offer support in multiple languages to assist you better. Please let us know your language preference when contacting us.

<h3>Feedback or Suggestions:</h3>

We value your feedback! Share your thoughts and suggestions with us to help improve our services.

We are committed to making our contact information and services accessible to all users. If you encounter any accessibility barriers, please let us know.

</p>
</div>

<div class="footer">
<ul>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/register">REGISTER</a></li>
<li class="home"><a href="/contact">CONTACT</a></li>
<li><a href="/privacy">PRIVACY POLICY</a></li>
</ul>
</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ</h6>
</body>
</html>