<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TuneHub-HomePage</title>
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<nav class="navbar">
		<ul>
			<li><h2>TUNE-HUB</h2></li>
			<li class="home1"><a href="">HOME</a></li>
			<li><a href="aboutnew">ABOUT</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/register">REGISTER</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</ul>
	</nav>
	<div class="d1"></div>
	
	
	<div class="divright">
	<h1>Why TUNE-HUB?</h1>
	<p>"At TUNE-HUB, we're passionate about revolutionizing the way you experience music. Unlike traditional music streaming platforms, TUNE-HUB offers a personalized and immersive journey into the world of music, tailored to your unique preferences and tastes.</p>
	<h4>Personalized Recommendations:</h4><p> Our advanced recommendation algorithms analyze your listening habits and preferences to curate personalized playlists and recommendations just for you. Say goodbye to endless scrolling and let TUNE-HUB introduce you to your new favorite tracks.</p>
	<h4>Seamless User Experience:</h4><p>We understand the importance of a seamless user experience, which is why TUNE-HUB is designed with simplicity and intuitiveness in mind. From effortless navigation to smooth playback, we ensure that every interaction with TUNE-HUB is a delight.</p>
	</div>
	
	<div class="divleft">
	<h1>Why MUSIC?</h1>
	<p>"Music holds a unique and undeniable power to touch our souls, evoke emotions, and transcend language and cultural barriers. It serves as a universal language that speaks directly to our hearts, minds, and spirits, enriching our lives in countless ways.</p>
	<h4>Emotional Expression:</h4><p>Music has an unparalleled ability to express and evoke a wide range of emotions, from joy and love to sorrow and longing. It has the power to uplift our spirits during times of celebration, provide solace in moments of grief, and evoke nostalgia for cherished memories.</p>
	<h4>Universal Appeal:</h4> <p>Regardless of age, gender, ethnicity, or background, music resonates with people from all walks of life. It transcends boundaries and speaks to the human experience in a way that words alone cannot, fostering empathy, understanding, and unity among diverse individuals and communities.</p>
	</div>
	
	
	
	
	
	
	
	<div class="footer">
		<ul>
			<li class="home1"><a href="">HOME</a></li>
			<li><a href="aboutnew">ABOUT</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/register">REGISTER</a></li>
			<li><a href="/contact">CONTACT</a></li>
			<li><a href="privacy">PRIVACY POLICY</a></li>
		</ul>
	</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ</h6>





</body>
</html>