<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Make Payment !</title>
<link rel="stylesheet" th:href="@{css/makepayment.css}">
</head>
<body>
<nav class="navigation">
<ul>
<li><h2>TUNE-HUB</h2></li>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li class="home"><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>
<li><a href="/register">REGISTER</a></li>
<li ><a href="/contact">CONTACT</a></li>
<li ><a href="/pay">PAY</a></li>
</ul>
</nav>

<div class="div">
<h1>Kindly Make PAYMENT !</h1>
<br>
<a href="/pay">COMPLETE PAYMENT</a>
</div>









<div class="footer">
<ul>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li class="home"><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>
<li><a href="/register">REGISTER</a></li>
<li><a href="/contact">CONTACT</a></li>
<li><a href="/privacy">PRIVACY POLICY</a></li>
</ul>
</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ</h6>
</body>
</html>