<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Privacy Policy</title>
<link rel="stylesheet" th:href=@{/css/privacypolicy.css}>
</head>
<body>
<nav class="navbar">
<ul>
<li><h2>TUNE-HUB</h2></li>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/register">REGISTER</a></li>
<li><a href="/contact">CONTACT</a></li>

</ul>
</nav>
<div class="div">
<p>
        <h3>Privacy Policy for TUNE-HUB !</h3> 

   <h4 style="color: red;">Effective Date: [25.01.2024]</h4>

   Thank you for using TUNE-HUB ("we", "us", "our"). This Privacy Policy explains how we collect, use, share, and protect your personal information when you use our website and services.
   <br>
   
   <h5>Information We Collect :</h5>

   Personal Information: When you create an account with TUNE-HUB, we may collect personal information such as your name, email address, date of birth, and other details you provide during the registration process.

   <h5>Usage Data: </h5>We may collect information about your interactions with our website and services, including the songs you listen to, playlists you create, and other activities on TUNE-HUB.

   <h5>Device Information: </h5>We may collect information about the devices you use to access TUNE-HUB, such as your device type, operating system, IP address, and browser information.

   <h4>How We Use Your Information :</h4>

   <h5>To Provide Services: </h5>We use your personal information to provide and personalize our services, including delivering music content, recommendations, and features tailored to your preferences.

   <h5>To Communicate: </h5>We may use your contact information to communicate with you about your account, updates to our services, promotional offers, and other relevant information.

   <h5>To Improve and Analyze: </h5>We use data analytics to understand how users interact with TUNE-HUB, improve our services, and optimize the user experience.

  <h4>Data Sharing and Disclosure :</h4>

   <h5>Service Providers:</h5> We may share your information with third-party service providers who help us operate, maintain, and improve TUNE-HUB. These service providers are contractually obligated to use your information only to provide services to us and to protect its confidentiality.

  <h5> Compliance: </h5>We may disclose your information when required by law, regulation, or legal process, or to respond to lawful requests from public authorities.

  <h4> Your Choices :</h4>

   <h5>Account Settings:</h5> You can review and update your account settings and preferences at any time by logging into your TUNE-HUB account.

   <h5>Marketing Communications:</h5> You can opt out of receiving promotional emails from us by following the unsubscribe instructions included in the emails or by contacting us directly.

   <h5>Data Security :</h5>

   We take the security of your information seriously and implement appropriate technical and organizational measures to protect it from unauthorized access, disclosure, alteration, or destruction.

   <h5>Changes to This Privacy Policy :</h5>
 
   We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the updated Privacy Policy on our Website or through other appropriate means.

   <h3>Contact Us :</h3>

   If you have any questions, concerns, or feedback about this Privacy Policy or our privacy practices, please contact us at support@tunehub.com 
</p>
</div>

<div class="footer">
<ul>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/register">REGISTER</a></li>
<li><a href="/contact">CONTACT</a></li>
<li class="home"><a href="/privacy">PRIVACY POLICY</a></li>
</ul>
</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ</h6>
</body>
</html>