<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Here</title>
</head>
<body>

<form action ="/register" method="post" >
<label>UserName :</label>
<input type="text" name="username">
<br>
<label>Email</label>
<input type="email" name="email">
<br>
<label>Password</label>
<input type="password" name="password">
<br>
<label>Gender</label>
<input type="radio" name="gender" value="male">
<label>M</label>
<input type="radio" name="gender" value="female">
<label>F</label>
<input type="radio" name="gender" value="others">
<label>O</label>
<br>
<label>Role</label>
<input type="radio" name="role" value="Admin">
<label>Admin</label>
<input type="radio" name="role" value="User">
<label>User</label>
<br>
<label>Address</label>
<textarea name="address"></textarea>
<br>

<input type="submit" value=Register> 
 

</form>
</body>
</html>