<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome User</title>
<link rel="stylesheet" th:href="@{/css/userlogin.css}">
</head>
<body>

<nav class="navigation">
<ul>
<li><h2>TUNE-HUB</h2></li>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li class="home"><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>
<li><a href="/register">REGISTER</a></li>
<li ><a href="/contact">CONTACT</a></li>
</ul>
</nav>
<div class="div">
<p><h1>WELCOME USER</h1><p>
<br>
<a href="/isPrimeUser">CLICK >>TO VIEW ALL SONGS</a>
<pre>
  JUST
      ONE
         STEP
             AWAY !
</pre>
</div>


<div class="footer">
<ul>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li class="home"><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>
<li><a href="/register">REGISTER</a></li>
<li><a href="/contact">CONTACT</a></li>
<li><a href="/privacy">PRIVACY POLICY</a></li>
</ul>
</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ</h6>
</body>
</html>