<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>All PlayList</title>
<link rel="stylesheet" th:href="@{/css/viewallplaylist.css}">
</head>
<body>
<div class="d1">
<h2>All PlayLists</h2>
	<table border>
		<thead>
			<tr>
				<th>PlayList Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="playlist:${allPlaylist}">
				<td th:text="${playlist.name}"></td>
				<td>
					<ul>
						<li th:each="song : ${playlist.songs}" th:text="${song.name}"></li>
					</ul>
				</td>
			</tr>

		</tbody>
	</table>
</div>
</body>
</html>