<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Play Songs</title>
<link rel="stylesheet" th:href="@{/css/viewsongs.css}">
</head>
<body>

<nav class="navbar">
		<ul>
			<li><h2>TUNE-HUB</h2></li>
			<li><a href="/home">HOME</a></li>
			<li><a href="aboutnew">ABOUT</a></li>
			<li class="home"><a href="/login">LOGIN</a></li>
			<li><a href="/logout">LOGOUT</a></li>
			<li class="home"><a href="/isPrimeUser">ALL SONGS</a></li>
			<li><a href="/register">REGISTER</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</ul>
	</nav>


<div class="bg">
<div class="d1">
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}"></td>
				<td th:text="${song.artist}"></td>
				<td th:text="${song.genre}"></td>
				<td>
				<audio controls>
						<source th:src="${song.link}" type="audio/mpeg">
				</audio>
				</td>
			</tr>



		</tbody>
	</table>
	</div>
</div>

<div class="footer">
<ul>
<li><a href="/home">HOME</a></li>
<li><a href="/aboutnew">ABOUT</a></li>
<li class="home"><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>
<li><a href="/register">REGISTER</a></li>
<li><a href="/contact">CONTACT</a></li>
<li><a href="/privacy">PRIVACY POLICY</a></li>
</ul>
</div>
<h6>Copyright @2024 Created By VASANTHAKUMAR JANAGARAJ</h6>

</body>
</html>